@charset "UTF-8";
/* CSS Document */


h1{
	line-height:1;
	margin:15px 3rem;
	font-size: 35px;
}

h2{
	line-height:1;
	margin:15px 3rem;
	font-size: 25px;
}

h3{
	line-height:1;
	margin:15px 3rem;
	font-size:20px;
}

p{
	font-size: 14px;
	margin: 15px 2rem;
}

body{
	background: rgb(255, 224, 224) ;
	color: rgb(41, 41, 41);
	margin: 0;
	font-family: 'Source sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.6;
	text-align: center;
}


img{
	display: block;
	width: 500px;
	margin: auto;
}

.introduction{
	margin: auto;
  	width: 50%;
	margin-top: 4rem;
	padding-bottom: 3rem;
	display:block;
}
.introduction p {
	text-align:center;
}

.btn{
	display:inline-block;
	padding:.5em 2.5em;
	background: darkseagreen;
	color:rgb(255, 255, 255);
	text-decoration:none;
	cursor: pointer;
	font-size: .6em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:bold;
	transition: transform 200ms ease-in-out;
	border-radius: 3%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.btn:hover{
	transform: scale(1.1);
	
}

.qrcode{
	display:block;
	margin: auto;
  	width: 70%;
	color: darkseagreen;
	padding-bottom: 3rem;
}

.qr_image{
	border: 4px solid darkseagreen;
	width:400px;
	height: auto;
}

.ebook{
	display: block;
	margin: auto;
  	width: 50%;
	
}

@media (max-width: 800px) {

	.ebook{
		margin: auto;
 		width: 100%;
		display: block;
	}

	.introduction{
		display: block;
		margin: auto;
  		width: 50%;
	}

	iframe{
		margin-left:15px;
		margin-right:15px;
	}

	.qr_image{
		margin: auto;
  		width: 100%;
		display: block;
	}
	
}

footer{
	list-style-type: none;
	font-size: 14px;
	margin-top: 5rem;
}
